.background-cellphone {
    display: none;
}

@media (min-width: 876px) {
    .background-cellphone {
        display: flex;
        background-image: url("../img/celular-fundo.png");
        background-position-x: -46px;
        background-size: 469px 635px;
        flex-basis: 381px;
        height: 582px;
        margin-bottom: 12px;
        align-self: center;
    }

    .front-cellphone {
        margin: 27px 0 0 113px;
    }
}